extends layout

block content
  h1= title
  - var results = results
  //- var results=[{model:"Himalayan", cylindercapacity:1,colour :"black"},{model:"bullet", cylindercapacity:2,colour:"white"},{model:"interceptor", cylindercapacity:3,colour:"brown"},{model:"Himalayan", cylindercapacity:1,colour:"black"}];
    
  
  div(class="container-fluid")
    div(class="row m-1")
      each item in results
       - let destination = `dispatch(\"/motorcycle/update?id=${item._id}\")` 
       div(class="row-sm-2", class="m-1") <br><br>_id: #{item["_id"]} <br>model: #{item["model"]} <br> cylindercapacity  #{item["cylindercapacity"]} <br> colour: #{item["colour"]}<br>
       button.btn( class="btn-primary ml-1", onclick= destination) Update 
   
  script. 
    function dispatch(path){ 
      window.location.href=path 
    } 